.grid-container {
    display: grid;
    grid-template-areas: 
    "banner"
    "main"
    "contact"
    "footer";
    min-height: 100vh;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.static-image {
    grid-area: banner;
}
main {
    grid-area: main;
}
.contact {
    grid-area: contact;
}
footer {
    grid-area: footer;
}