.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "contact"
    "footer";
    min-height: 100vh;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
.contact {
    grid-area: contact;
}
footer {
    grid-area: footer;
}