.grid-item {
    display: flex;
    justify-content: center;
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
    grid-template-columns: 1fr;
    font-size: 16pt;
    min-height: 150vh;
}