body {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
    outline:none;
}
.label {
    display: none;
}




/* .navbar-item {
    margin-right: 2em;
    height: 2rem;
    display: flex;
    align-items: center;
}
.navbar-item:last-child {
    font-size: 0.8em;
    margin-right: 0;
}
.navbar-item a{
    display: inline-block;
    position: relative;
}
.navbar-item a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
}
.navbar-item:last-child a::after {
    display: none;
}
.navbar-item:hover a::after {
    opacity: 1;
}
.navbar-top {
    background-color: rgba(0, 0, 0, 0.2);
    height: 10%;
}
.navbar-other {
    background-color: rgb(50, 50, 50);
    height: 8%;
} */





.static-image {
    color:rgb(235, 235, 235);
    background-image: url('../img/jumiz1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgb(80, 80, 80);
    background-blend-mode: overlay;
}