/* General */
body {
    font-family: 'Montserrat', sans-serif;
}
* { 
    box-sizing: border-box; 
}
a {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
    outline:none;
}
.label {
    display: none;
}
/* Navbar */
.navbar-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: white;
    transition: 500ms ease;
    z-index: 999;
}
.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    overflow: hidden;
}
.navbar-left a img {
    width: 150px;
    transition: 500ms ease;
}
.navbar-left a img:hover {
    width: 155px;
    margin-left:5px;
}
.navbar-right {
    position: fixed;
    height: 100vh;
    width: 75%;
    background-color: rgb(50, 50, 50);
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
    z-index: 999;
}
.navbar-item {
    margin-right: 1.8em;
    height: 2rem;
    display: flex;
    align-items: center;
}
.navbar-item:last-child {
    font-size: 0.8em;
    margin-right: 0;
}
.navbar-item a{
    display: inline-block;
    position: relative;
}
.navbar-item a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
}
.navbar-item:last-child a::after {
    display: none;
}
.navbar-item:hover a::after {
    opacity: 1;
}
.navbar-item.active a::after {
    opacity: 1;
}
.navbar-top {
    background-color: rgba(0, 0, 0, 0.25);
    height: 10%;
}
.navbar-other {
    background-color: rgb(50, 50, 50);
    height: 7.5%;
}
.menu-toggler {
    background: none;
    width: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}
.menu-toggler:focus {
    outline: 0;
}
.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}
.menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
}
.menu-toggler.active span:nth-child(2){
    opacity: 0;
}
.menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
}
.navbar-right.active {
    right: 0;
}





/* Header */

.static-image {
    color:rgb(235, 235, 235);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    height: 100vh;
    min-width: 100%;
    background-color: rgb(65, 65, 65);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}

.static-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 75%;
}

.static-image-container h1 {
    font-family: 'Italianno', cursive;
    font-size: 62pt;
}

.static-image-container p {
    font-size: 24pt;
    font-family: 'Abel', sans-serif;
}

.arrowbutton {
    border-radius: 100%; 
    height: 3em; 
    width: 3em; 
    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowbutton i {
    -webkit-animation: MoveUpDown 0.5s infinite alternate;
    animation:  MoveUpDown 0.5s infinite alternate;
    z-index: 0;
}

@keyframes MoveUpDown {
    0% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(-5px);
	}
}
.carousel-cell {
    width: 100%;
    text-align: center;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.flickity-viewport {
    transition: height 0.2s;
  }
.testimonial-icon, .testimonial-quote, .testimonial-name{
    width: 80%;
    margin: auto;
    display: block;
}
.testimonial-icon {
    font-size: 2.5em;
    margin-bottom: 0;
}
.testimonial-quote {
    color: rgba(37, 37, 37, 0.74)
}
.testimonial-name::before {
    content: "~ ";
}
.testimonial-name {
    font-weight: 600;
}